* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.5s;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#header_1 {
  background: #0d0d2b;
}

.header_item_1 {
  list-style-type: none;
}

.header_item_2 {
  text-decoration: none;
}

.header__container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.header__container .header_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.header__container .links_2 {
  gap: 32px;
  display: flex;
}
.header__container .header_logo {
  gap: 16px;
  display: flex;
  text-align: center;
}
.header__container .header_logo h1 {
  padding: 14px;
  font-size: 18px;
  text-align: center;
  align-items: center;
  color: #ffffff;
}

.header_item_2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.header_item_2 .header_item_1 {
  color: #ffffff;
  font-size: 16px;
}

.right_header {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 25px;
}
.right_header .diveder {
  text-align: center;
  width: 2px;
  height: 28px;
  border: 0px solid #f2f2f2;
  background: #7e7ea7;
}
.right_header .right_btn {
  padding: 14px 32px;
  background: #8ca0d2;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  font-size: 16px;
}
.right_header .right_btn:hover {
  background: #040450;
  transition: 2s;
}

.nav__container {
  padding-top: 63px;
  display: flex;
  justify-content: space-evenly;
}
.nav__container .nav__left {
  padding-top: 120px;
}
.nav__container h1 {
  padding: 24px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #ffffff;
}
.nav__container p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}
.nav__container .btn__left {
  padding: 4px 16px;
  background: #ffffff;
  border-radius: 32px;
}
.nav__container .btn_left_1 {
  padding: 5px 11px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
}
.nav__container .btn_left_2 {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}
.nav__container .btn_lef3 {
  padding: 15px 36px;
  display: flex;
  gap: 30px;
  text-align: center;
  align-items: center;
  background: #517ed7;
  border-radius: 32px;
  border: none;
  font-size: 16px;
  color: #ffffff;
}
.nav__container .btn_lef3:hover {
  background: #040450;
  transition: 2s;
}

#section_1 {
  background: #0d0d2b;
}

.curenceey_container {
  padding-top: 100px;
  gap: 99px;
  display: flex;
  justify-content: space-between;
}
.curenceey_container .try_itme {
  gap: 24px;
  display: flex;
  align-items: center;
}
.curenceey_container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  color: #ffffff;
}
.curenceey_container p {
  padding: 4px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}

#section {
  background: #0d0d2b;
  height: 550px;
}

.should__container {
  padding-top: 150px;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.should__container h1 {
  line-height: 60px;
  font-size: 40px;
  color: #ffffff;
}
.should__container p {
  font-size: 16px;
  line-height: 28px;
  padding: 23px 0;
  color: #e0e0e0;
}
.should__container .btn_right-1 {
  padding: 45px 0;
}
.should__container .right_btn {
  padding: 16px 25px;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  color: #ffffff;
  background: #8ca0d2;
}
.should__container .right_btn:hover {
  background: #040450;
  transition: 2s;
}

.cheak__container {
  padding-top: 120px;
  text-align: center;
}
.cheak__container h1 {
  font-size: 40px;
  line-height: 60px;
  color: #f2f2f2;
}
.cheak__container p {
  padding: 24px 0;
  font-size: 18px;
  line-height: 27px;
  color: #e0e0e0;
}

.terminal__pozishn {
  align-items: center;
  width: 900px;
  height: 310px;
  background: #f9fafb;
  border-radius: 16px 16px 0px 0px;
}
.terminal__pozishn .enter_1 {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.terminal__pozishn h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #0d0d2b;
}
.terminal__pozishn .rate__left {
  gap: 100px;
  display: flex;
  align-items: center;
}
.terminal__pozishn .hash {
  width: 400px;
  height: 4px;
  background: #10244b;
}
.terminal__pozishn .arrow {
  width: 180px;
  height: 2px;
  background: #10244b;
}
.terminal__pozishn .code__btn {
  padding: 4px 10px;
  display: flex;
  gap: 100px;
  border: none;
  background: #fcfdff;
  border-radius: 17px 17px 0px 0px;
}
.terminal__pozishn .right_btn {
  padding: 16px 32px;
  background: #3671e9;
  border-radius: 22px;
  border: none;
  font-size: 16px;
  color: #ffffff;
}

.based__and {
  padding-top: 70px;
  align-items: center;
}
.based__and span {
  padding: 40px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3671e9;
}
.based__and h1 {
  padding: 0px 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #0d0d2b;
}
.based__and .eht_02 {
  font-size: 32px;
}
.based__and p {
  padding: 0px 40px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #828282;
}

.mine {
  position: relative;
}

.terminal__pozishn {
  position: absolute;
  top: -170px;
  left: 100px;
}

#section_9 {
  background: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);
}

.trade__container {
  padding-top: 64px;
  gap: 45px;
  display: flex;
  justify-content: space-between;
}

.market h2 {
  text-align: center;
  padding-top: 160px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #0d0d2b;
}
.market .securely_div {
  width: 370px;
  height: 433px;
  border-radius: 16px;
  background: #2b076e;
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
  align-items: center;
  text-align: center;
  padding-top: 48px;
}
.market .btc_div {
  display: flex;
  text-align: center;
  align-items: center;
}
.market h3 {
  padding: 10px 0;
  margin-left: 100px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.market p {
  margin: 5px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 10px;
}

.btn_left_2 {
  padding-top: 30px;
}
.btn_left_2 .btn_lef3 {
  padding: 18px 60px 20px 18px;
  display: flex;
  gap: 30px;
  text-align: center;
  font-size: 16px;
  align-items: center;
  margin-left: 70px;
  background: #3671e9;
  border-radius: 25px;
  border: none;
}

.securely_div_2 {
  width: 370px;
  height: 433px;
  border-radius: 16px;
  background: #f9f1f1;
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
  align-items: center;
  text-align: center;
  padding-top: 48px;
}
.securely_div_2 .btc_div {
  display: flex;
  text-align: center;
  align-items: center;
}
.securely_div_2 h3 {
  padding: 10px 0;
  margin-left: 100px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.securely_div_2 p {
  margin: 5px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 10px;
}

#turst_2 {
  background: #0d0d2b;
}

.securely_div_2:hover {
  background: #2b076e;
  transition: 3s;
}

#section_5 {
  background: #2b076e;
  height: 600px;
}

.run__div {
  padding-top: 50px;
  text-align: center;
}
.run__div h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.portifoila__container {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
}
.portifoila__container .buyers_1 {
  padding-top: 40px;
  gap: 180px;
  display: flex;
  justify-content: space-evenly;
}
.portifoila__container .btn_2-1 {
  padding-top: 30px;
}
.portifoila__container .btn_2-1 .btn_2_2 {
  padding: 16px 32px;
  background: #6a7585;
  border-radius: 22px;
  border: none;
  color: white;
}
.portifoila__container .btn_2-1 .btn_2_2:hover {
  background: #040450;
}
.portifoila__container .choice {
  align-items: center;
}
.portifoila__container .choice h1 {
  padding: 40px 0 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #ffffff;
}
.portifoila__container .choice p {
  padding: 24px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}
.portifoila__container h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #42ffff;
}
.portifoila__container .full_div {
  display: flex;
  gap: 10px;
}
.portifoila__container .full_div h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.portifoila__container .full_div span {
  margin: 5px;
  color: #0d0d2b;
}
.portifoila__container .full_div p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #f2f2f2;
}
.portifoila__container .buyt__div {
  width: 581px;
  height: 250px;
  background: #35068c;
  border-radius: 16px;
}
.portifoila__container .portif__div {
  display: flex;
  justify-content: space-evenly;
}
.portifoila__container .trade_div {
  width: 178px;
  height: 184px;
  border-radius: 16px;
  background: #491f98;
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
}
.portifoila__container .trade_div h1 {
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.portifoila__container .trade_div h6 {
  padding: 10px 0;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.portifoila__container .sell {
  width: 169px;
  height: 84px;
  background: #491f98;
  border-radius: 16px;
}
.portifoila__container .sell h1 {
  padding: 10px 0;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.portifoila__container .sell p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #f2f2f2;
}

.buytw {
  position: relative;
}

.ectio {
  top: 200px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: absolute;
}

.section_3_container {
  padding-top: 120px;
  gap: 9px;
  display: flex;
  justify-content: space-between;
}
.section_3_container .mine_div {
  padding-top: 100px;
}
.section_3_container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #ffffff;
}
.section_3_container p {
  padding: 24px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}
.section_3_container .btn_2-1 {
  padding: 32px 0;
}
.section_3_container .btn_2_2 {
  padding: 16px 32px;
  border-radius: 22px;
  background: #e0e0e0;
  font-size: 16px;
  color: #fff;
  border: none;
}
.section_3_container .btn_2_2:hover {
  background: #040450;
}

.decision__container {
  padding-top: 120px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}
.decision__container .gitcub {
  margin-left: 80px;
  padding-top: 50px;
  gap: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}
.decision__container .charts__div {
  padding-top: 10px;
}
.decision__container .charts__div h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #ffffff;
}
.decision__container .charts__div p {
  padding: 24px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}
.decision__container .charts__div .btn__let {
  padding: 16px 32px;
  background: #cbcdd2;
  border-radius: 32px;
  border: none;
  color: #ffffff;
}
.decision__container .charts__div .btn__let:hover {
  background: #3671e9;
}
.decision__container .charts__div {
  padding: 40px;
}
.decision__container .iterm_1 {
  text-align: center;
  list-style-type: none;
}
.decision__container .iterm_2 {
  text-decoration: none;
  color: #fff;
}
.decision__container .ttiter_1 {
  margin-left: 20px;
  gap: 20px;
  padding-top: 70px;
  display: flex;
  align-items: center;
  text-align: center;
}
.decision__container .ttugadi {
  text-align: center;
  gap: 20px;
  display: flex;
}
.decision__container .gitcub_1 {
  align-items: center;
  display: flex;
  gap: 30px;
}
.decision__container .ttiter_1-1 {
  gap: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  width: 500px;
  height: 61px;
  background: #4610ad;
  border-radius: 16px;
}

.right__liks {
  width: 610px;
  height: 350px;
  background: #35068c;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.pozishe {
  position: relative;
}
.pozishe .absalut {
  position: absolute;
  top: 185px;
  right: 160px;
}

.mining__container {
  padding-top: 80px;
  gap: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 216px;
  background: #5286ee;
  border-radius: 16px;
}
.mining__container .join_div {
  display: flex;
  gap: 40px;
}
.mining__container .now_div {
  align-items: center;
}
.mining__container .now_div h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #ffffff;
}
.mining__container .now_div p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.mining__container h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.mining__container .enternet {
  width: 375px;
  height: 3px;
  background: #ffffff;
}
.mining__container .btn_home {
  padding: 16px 32px;
  border: none;
  background: #ffffff;
  border-radius: 22px;
  color: rgb(244, 235, 235);
  font-size: 16px;
}
.mining__container .btn_home:hover {
  background: #040450;
}

.footer__container {
  gap: 10px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.footer__container .craspo {
  display: flex;
  gap: 10px;
}
.footer__container h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer__container .smart_3 {
  text-decoration: none;
  color: #ffffff;
}
.footer__container .smart_2 {
  padding: 8px 0;
  list-style-type: none;
}
.footer__container .paymet_div {
  display: flex;
  gap: 24px;
  padding: 50px 0;
}

.token_div {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.token_div h2 {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}
.token_div .reserved_div {
  display: flex;
  gap: 40px;
}